USE [Palazia]
GO
/****** Object:  Trigger [dbo].[TR_PalTransactions_SyncUserProfiles]    Script Date: 10/6/2026 11:06:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[TR_PalTransactions_SyncUserProfiles]
ON [dbo].[PalTransactions]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;

    /*
        Users affected by this operation
    */
    DECLARE @AffectedUsers TABLE
    (
        UserId BIGINT PRIMARY KEY
    );

    INSERT INTO @AffectedUsers (UserId)
    SELECT UserId
    FROM inserted

    UNION

    SELECT UserId
    FROM deleted;


    /*
        Calculate current balance for affected users
    */
    DECLARE @Balances TABLE
    (
        UserId BIGINT PRIMARY KEY,
        PalAmount DECIMAL(18,3) NOT NULL
    );

    INSERT INTO @Balances
    (
        UserId,
        PalAmount
    )
    SELECT
        AU.UserId,

        COALESCE
        (
            SUM
            (
                CASE
                    WHEN PT.TransactionType = 1
                        THEN PT.Amount

                    WHEN PT.TransactionType = 2
                        THEN -PT.Amount

                    ELSE 0
                END
            ),
            0
        ) AS PalAmount

    FROM @AffectedUsers AU

    LEFT JOIN [dbo].[PalTransactions] PT
        ON PT.UserId = AU.UserId
        WHERE PT.IsDeleted=0
    GROUP BY
        AU.UserId;


    /*
        Prevent negative balance
    */
    IF EXISTS
    (
        SELECT 1
        FROM @Balances
        WHERE PalAmount < 0
    )
    BEGIN
        ROLLBACK TRANSACTION;

        THROW 50001,
              'موجودی PAL کاربر نمی‌تواند منفی شود.',
              1;
    END;


    /*
        Synchronize UserProfiles.PalAmount
    */
    UPDATE UP
    SET
        UP.PalAmount = B.PalAmount
    FROM [dbo].[UserProfiles] UP
    INNER JOIN @Balances B
        ON B.UserId = UP.UserId;
END;
